img 
  width: 100%;
a
  color: #222
a:hover
  text-decoration: none

ul 
  list-style: none;
  margin: 0;
  padding: 0;

h1 
  margin: 0;
body
  background: url('../img/bg.webp') no-repeat 0 0/cover
  font-size : fz*2
main
  margin-top: padding-space*6  
  padding: padding-space*6
  border-radius  20px  
  background-color rgba(255, 255, 255, .2)
[hidden]
  display none !important