.container   
  padding: padding-space*6
.blog-container--wrap
  overflow auto
  height 700px
::-webkit-scrollbar
  display none
.blog-content--item
  padding padding-space * 1.5
  background-color norcolor
  text-align center
  border-bottom 2px solid norcolor
  border-radius  20px
  margin-bottom 20px

.blog-item--title
  color #222 
  font-size fz*2

.blog-item--illu 
  width auto
  height 220px

.blog-item--desc 
  padding padding-space*3
  text-align left
  font-size fz*1.5
  text-indent 2em

.blog-item--tags 
  display flex
  justify-content flex-end
  padding 0 padding-space*2

.blog-tags--like,
.blog-tags--comment
  padding 0 padding-space
  color #9400d3
  &:hover 
     color #db7093