.blog-modal
  display grid
  position fixed
  z-index 888
  top 0 
  left 0
  bottom 0
  right 0
  margin auto
  background-color rgba(0,0,0,.6)

.blog-modal--wrap
  justify-self center
  align-self center
  width 60%
  padding padding-space * 2  
  background-color #fff
  box-shadow 0 0 4px bg-modifier-color inset
  border-radius radius-theme-size
  border 2px solid  bg-theme-color

.blog-modal--head
  display flex
  justify-content space-between
  align-items center
  padding-bottom padding-space
  border-bottom 1px solid bg-theme-color
.blog-modal--title
  font-size fz * 2
.blog-modal--close
  font-size fz * 3
.blog-modal--content
  padding padding-space*2 padding-space*6 padding-space*2 padding-space*2 
.blog-modal--foot 
  display grid
  grid-template-areas: '. . btn btn'
  justify-content end
  grid-gap padding-space
  &>button 
    width 180px


.blog-modal--group
  padding-bottom padding-space *2


.blog-error--input
  position relative
  &::after
    position absolute
    content attr(data-msg)
    margin-top 6px
    font-size 12px
    color red
.form-control
  height 44px
  padding 8px 12px
    