.blog-write
  padding padding-space*2 padding-space
  box-shadow 0 0 2px line-reverse-color
  background-color #eee

.blog-write--control
  display grid
  grid-template-columns 2fr
  text-align center
  background-color #fff
 
.blog-write--input
  width 100%
  border 0
  outline 0
  padding padding-space
  font-size fz * 2
  color font-title-color

.blog-write--column
  display flex
  flex-wrap wrap
  width 100%
  padding padding-space padding-space * 2
  align-items center
.blog-write--column>li    
  margin-right padding-space
  margin-bottom padding-space
  padding  4px padding-space*2
  border 1px solid bg-modifier-color
  border-radius radius-theme-size*2
  cursor pointer
  &.selected
    background-color font-title-color
    color #fff
  